<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connStrMySQL" value="server=localhost;user=root;database=rifasbb;port=3306;password=godcilla"/>
    <add key="myAcount" value="leoneltst"/>
    <add key="myPass" value="oauth:0epz8x7agy2x46dou2j0ficye1f5y2"/>
    <add key="Target" value="masterofbasaka"/>
  </appSettings>
</configuration>